@import url("https://use.typekit.net/yxk3ens.css");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f3ebec;
}

li, a {
    font-family: "source-code-pro", monospace;
    font-weight: 400;
    font-style: bold;
    font-size: 16px;
    color: #24252A;
    text-decoration: none;
  }

  ul li a.active-page
  {
    color:#ff4f8c;
  }

h1 {
  font-family: "futura-pt-bold", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  color: #24252A;
  text-align: center;
  padding-left: 5%;
  padding-top: 1.5%;
  padding-right: auto;
}
  
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background: linear-gradient(-45deg, #bcf4de, #cde5d7, #ded6d1, #eec6ca, #ffb7c3);
	  background-size: 400% 400%;
	  animation: gradient 15s ease infinite;
	  height: 5vh;;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  
footer {
  font-family: "source-code-pro", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #24252A;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6rem;
  }

.logo {
  cursor: pointer;
  margin-right: auto;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #fa7da7;
}